.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  height: 3rem;
  padding: 0 0.75rem;

  border: 0.0625rem solid var(--text-muted);
  border-radius: 0.5rem;
}

.input-wrapper input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-main);
  font-size: 1rem;
}

.input-wrapper:focus-within {
  border-color: var(--primary-color);
}